apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: catalog-service
  annotations:
    run.googleapis.com/ingress: all
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: "0"
        autoscaling.knative.dev/maxScale: "3"
        run.googleapis.com/cpu-throttling: "true"
        run.googleapis.com/execution-environment: gen2
    spec:
      serviceAccountName: "${SERVICE_ACCOUNT_EMAIL}"
      containerConcurrency: 80
      timeoutSeconds: 300
      containers:
        - image: "${IMAGE_URI}"
          env:
            - name: SERVER_PORT
              value: "8080"
          resources:
            limits:
              cpu: "1"
              memory: "512Mi"
            requests:
              cpu: "250m"
              memory: "256Mi"

